
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    text-align: center;
    padding: 20px 0;
    font-size:48px;
    flex-direction: column;
   ;
    /*flex:1;*/
  
  }
  
  .menu {
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
  }

.container {
    background: rgb(233, 177, 235);
    padding: 16px;
    border: 1px solid rgb(16, 18, 19);
    gap: 8px;
    justify-content: space-between;
    
    display: flex
}
.container > *
{flex-shrink:1;
  border: 5px solid rgb(136, 158, 9); }

.item {
    background-color: darkorange;
    border:4px solid blue;
    height:48px;
    flex:1;
    padding 4px;
}
.one{
    background-color: rgb(158, 204, 154);
    color: rgb(63, 31, 209);
    border:2px solid rgb(25, 25, 145);
    height:48px;
    flex-grow:1;
    padding 4px;

}

.two{
    background-color: rgb(209, 214, 130);
    border:4px solid blue;
    height:48px;
    flex-grow:1;
    padding 4px;

}
.three{
    background-color: peachpuff;
    border:4px solid blue;
    height:48px;
    flex-grow:1;
    padding 4px;

}